<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QuizzApp | Index</title>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="/public/vendor/snackbar/snackbar.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this template-->
    <link href="/public/stylesheets/sb-admin-2.min.css" rel="stylesheet">
</head>

<body style="height: 100%">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div>
                    This is the simple index page of the website, it should only appear if you're not signed in.
                    <a href="/login">Click here to sign in</a>
                </div>
            </div>
        </div>



        <!-- Bootstrap core JavaScript-->

        <script src="/public/vendor/jquery/jquery.min.js"></script>
        <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/public/vendor/snackbar/snackbar.min.js"></script>
</body>

</html>